<br>
<br>
<br>
<br>
<br>

<h1> Mes coordonnées </h1>

<div class="cards-text">
<p> Vous pouvez me joindre au: 06.62.31.97.81 </p>
  <p> ou par mail à gaelle.gorgori@gmail.com </p>
  <p> ou sur slack </p>
  <p> ou par signaux de fumée </p>
  <p> ou par pigeon voyageur </p>
  <br>
</div>
<%= link_to "Retour à l'acceuil", home_path %>

