<br>
<br>
<br>
<br>
<br>

<h1> A propos de moi </h1>
<div class="cards-text">
<p> Plus de 10 ans d'expérience réussie dans le revenue management </p>
  <p> Les secteurs dans lesquels j'ai travaillé: chaines hotelières, tour-opérateur, agences de voyage </p>
  <p> Formation: Mathématiques appliquées </p>
  <p> Mes hobbies: les tableaux de bord! </p>
<br>
</div>

<%= link_to "Retour à l'acceuil", home_path %>


