
.btn {
    font-family: "Lobster", "Helvetica", "sans-serif";
    cursor: pointer;
    padding: 12px 28px;
    border-radius: 12px;
    border: 1px solid grey;
    font-size: 16px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-width: 2px;
    line-height: 1.35em;
    margin: 5px 1px;
    text-decoration: none;

}

.btn:hover {
    background-color: #FFCC66;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.btn-warning {
    text-decoration: none;
    background-color: #7A4579;
    color: #E6E6E6;
}

.btn-success {
    text-decoration: none;
    background-color: #E6E6E6;
    color: #7A4579;
}

#boutons {
    display: flex;
    align-content: flex-end;
    justify-content: center;
}


