#nav
{
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin:0;
  padding:10;
  background: #7A4579 url('nav_bg.jpg') 0 0 repeat-x;
  float:left;
  width:100%;
  text-decoration: none;
}

#nav li
{
  display:inline;
  padding:0;
  margin:0;
}
#nav a:link, #nav a:visited
{
  color: #999999;
  text-decoration: none;
  font-weight: bold;
  font-size: 25px;
}

#nav a:hover
{
   color:#fff;
   background:#48284E;
   font-size: 25px;
}

#nav-avatar
{
  item-align: right;
}
#nave-name
{
  color:#E6E6E6;
  font-size: 25px;
}
