<ul id="foot">
    <li id="foot-reseaux"> Contactez-moi sur les réseaux sociaux: </li>
    <li id="foot-facebook"><a href="https://www.facebook.com/gaelle.gorgori"><%= image_tag 'logo_facebook.png', :class => 'rounded-circle-res' %></a></li>
    <li id="foot-linkedin"><a href="https://www.linkedin.com/in/ga%C3%ABlle-gorgori-55394a26/"><%= image_tag 'logo_linkedin.png', :class => 'rounded-circle-res' %></a></li>
    <li id="foot-twitter"><a href="https://twitter.com/GGalle8"><%= image_tag 'logo_twitter.png', :class => 'rounded-circle-res' %></a></li>
    <li id="foot-contact"> Made with ❤️ at Saint-Laurent-du-Var </li>
</ul>
